/* Primary-color: #223843 */
/* background-color: #ececec */
/* text-color: #666 */

@import "./icons.css";


/******************************************
						GLOBAL
*******************************************/

html, body {
	margin: 0;
	padding: 0;
}

body {
	background-color: #ececec;
	display: flex;
	flex-direction: column;
	align-content: stretch;
	font-family: Helvetica, Verdana, sans-serif;
	color: #666;
}

button { 
	border: none; 
	cursor: pointer;
}
input, 
button,
select {
	text-transform: uppercase;
	outline: none;
}



/******************************************
						HEADBAR
*******************************************/
.headbar {
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background-color: #223843;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	box-sizing: border-box;
	box-shadow: 0 2px 4px rgba(0,0,0,.3);
	z-index: 1;
	padding: 0 24px;
	color: white;
}

@media screen and (min-width: 787px){
	.headbar { padding: 0 48px; }
}

.headbar img {
	height: 40px;
}

.headbar h1 {
	font-weight: 400;
	font-size: 20px;
	margin-left: 10px;
}


/******************************************
						MAIN
*******************************************/


.main {
	display: flex;
	flex-direction: column;
	flex: 1;
	overflow-x: hidden;
	overflow-y: auto;
	padding-top: 60px;
	/* height: 100%; */
}


/******************************************
						Card
*******************************************/
.card {
	box-shadow: 0 0 1px 1px rgba(0,0,0,.3);
	background-color: #fff;
	padding: 24px 32px;
	width: 568px;
	box-sizing: border-box;
	margin: 0 auto 16px auto;
	position: relative;
}

@media screen and (max-width: 600px){
	.card { 
		margin: 0 2% 16px 2%;
		max-width: 96%;
	}
}

@media screen and (max-width: 480px){
	.card {
		padding: 16px; }
}

/******************************************
						GRID
*******************************************/
.grid { display: grid; }

.converter.grid {
	grid-template-columns: 3fr 1fr 3fr;
	grid-auto-rows: 1fr 1fr 1.2fr;
	grid-template-areas:
		"amount amount amount"
		"c-from  exchange	 c-to"
		"convert  convert  convert";
	grid-row-gap: 16px;
	grid-column-gap: 10px;
}

@media screen and (max-width: 480px){
	.converter.grid {
		grid-row-gap: 8px;
		grid-column-gap: 0;
		grid-template-columns: 1fr;
		grid-auto-rows: 1fr 1fr 1fr 1fr 1.2fr;
		grid-template-areas:
			"amount" "c-from" 
			"exchange" "c-to" 
			"convert";
	}
}


/******************************************
				Convert card items
*******************************************/
.converter .amount,
.converter .fromCurrency,
.converter .toCurrency,
.converter .convert.button,
.converter .exchange.button {
	box-sizing: border-box;
}

.converter .amount {
	grid-area: amount;
	border: 1px solid #ccc;
	padding: 8px 16px;
	border-radius: 2px;
}

.converter .exchange {
	grid-area: exchange;
	font-size: 1.25em;
	display: flex;
	flex-direction: row;
	justify-content: center;
}


.converter .fromCurrency {
	grid-area: c-from;
}

.converter .toCurrency {
	grid-area: c-to; 
}

.converter .fromCurrency,
.converter .toCurrency {
	display: flex;
	flex-direction: row;
}


.converter .fromCurrency label,
.converter .toCurrency label{
	line-height: 2;
	text-align: center;
	min-width: 50px;
	display: block;
	background-color: #223843;
	color: white;
	border-radius: 2px 0 0 2px;
}

.converter .toCurrency select,
.converter .fromCurrency select {
	flex-grow: 1;
	padding: 8px 16px;
	background: url(../images/caret-down.png)
							96% / 15% no-repeat;
	background-size: 12px;
  -webkit-appearance: none;
	-moz-appearance: none;
	border: 1px solid #ccc;
	border-radius: 2px;
}

.converter .convert.button {
	grid-area: convert;
}

.button {
	background-color: #223843;
	border: 2px solid #223843;
	color: #fff;
	border-radius: 2px;
	transition: background-color .6s, border .6s;
}

.button:hover {
	box-shadow: 0 0 1px 1px rgba(0,0,0,.125);
	background-color: #1a2930;
	border-color: #1a2930;
}


/******************************************
				Conversion card
*******************************************/

.cardTemplate {
	display: none;
}

.conversion {
	text-transform: uppercase;
	padding-bottom: 10px;
}



/******************************************
				Conversion card items
*******************************************/
.conversion .fromResult {
	height: 40px;
	display: flex;
	justify-content: center;
}

.conversion .fromResult .button {
	height: 100%;
	border-radius: 0 2px 2px 0;
}

.conversion .fromResult .fromResultAmount {
	padding: 8px;
	box-sizing: border-box;
	padding-left: 20px;
	border-radius: 2px 0 0 2px;
	border: 1px solid #ccc;
	color: #555;
	font-size: 1.015em;
	background-color: #ececec;
	transition: background-color .6s, color 0.6s;
}
.conversion .fromResult .fromResultAmount:focus {
	background-color: white;
	color: #222;
}


.conversion .toResult {
	font-size: 1.75em;
	text-align: center;
	color: #223843;
	margin: 20px 0 10px 0 ;
}

.conversion .rates {
	text-align: center;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.conversion .date {
	margin-top: 15px;
	text-align: center;
	color: #223843;
}

.conversion .utils {
	float: right;
	font-size: 1.55em;
	margin-top: 15px;
	position: relative;
	
}

.conversion .utils .close{
	transition: background-color .6s, color 0.6s;
}

.conversion .utils .close:hover {
	color: tomato;
}

/********************************************
					PLACEHOLDER
********************************************/
.placeholder .organ {
	background-color: #ececec;
	border-radius: 2px;
}
.placeholder .fromResult .organ {
	height: 36px;
	width: 263px;
}

.placeholder .toResult .organ {
	height: 30px;
	width: 35%;
	margin-left: auto;
	margin-right: auto;
}

.placeholder .rates .organ {
	width: 170px;
	height: 18px;
}
.placeholder .date .organ {
	width: 60%;
	height: 18px;
	margin-left: auto;
	margin-right: auto;
}

.placeholder .utils .organ {
	height: 30px;
	width: 24px;
}

/* placeholder animation*/
@keyframes placeHolderShimmer{
	0%{
		 background-position: -468px 0
	}
	100%{
		 background-position: 468px 0
	}
}

.organ.animated {
	animation-duration: 1.6s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placeHolderShimmer;
	animation-timing-function: linear;
	background: #f6f7f8;
	background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
	background-size: 800px 104px;
	height: 96px;
	position: relative;
}

/********************************************
					SNACKBAR
********************************************/
.snackbar {
	position: fixed;
	z-index: 3;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.877);
	padding: 16px;
	box-sizing: border-box;
}

.snackbar .message {
	display: block;
	color: white;
}

.snackbar .hide {
	margin-top: 10px;
	margin-right: 10px;
	float: right;
	color: tomato;
	cursor: pointer;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
 }

@media screen and (min-width: 800px){
	.snackbar {
		bottom: 16px;
		left: 16px;
		width: fit-content;
		border-radius: 5px;
	}
}

